        <div class="row-fluid">
            <div class="span12">
                <div class="bg-image">
                    <img src="img/homepage.jpg" />
                    <form>
                        <input type="image" src="img/button_1.jpg" ng-click="takePicture()"/>
                        <div><br /></div>
                        <input type="image" src="img/button_2.jpg" ng-lick="showNativeAlert('Under Construction')"/>
                    </form>
                </div>
            </div>
        </div>
